.presentation-container {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation-container .presentation-content {
  width: 90%;
  max-width: 1900px;
  margin: auto;
  color: #E0E0E0;
}

.presentation-container .presentation-content h3 {
  font-weight: lighter;
  font-size: 30px;
}

.presentation-container .presentation-content span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
  font-size: 60px;
}

.presentation-container .presentation-content span h1 {
  font-weight: lighter;
}

.presentation-container .presentation-content span h1:nth-child(2) {
  color: #00FFC2;
}

.presentation-container .presentation-content .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

.presentation-container .presentation-content .button-container a {
  color: #00FFC2;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 10px;
  border: 1px solid #00FFC2;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.presentation-container .presentation-content .button-container a:hover {
  background-color: #1C1C1C;
}

.presentation-container .presentation-content .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 0 0;
}

.presentation-container .presentation-content .links .link-item {
  list-style: none;
}

.presentation-container .presentation-content .links .link-item a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 60px;
  padding: 1rem;
  color: #00FFC2;
  text-decoration: none;
}

.presentation-container .presentation-content .links .link-item a:hover {
  text-shadow: 1px 1px 20px #02ffc4d0;
}
/*# sourceMappingURL=presentation.css.map */