@import '../../assets/styles/Scss/modules/variables/variables';
.presentation-container{
    width: 100%;
    align-items: center;
    display: flex;
    .presentation-content{
        width: 90%;
        max-width: 1900px;
        margin: auto;
        color: $softwhite;
        h3{
            font-weight: lighter;
            font-size: 30px;
        }
        span{
            display: flex;
            gap: 0.6rem;
            font-size: 60px;
            h1{
                font-weight: lighter;
            }
            h1:nth-child(2){
                color: $cybergreen;
            }
        }
        .button-container{
            display: flex;
            padding: 1rem 0;
            a{
                color: $cybergreen;
                text-decoration: none;
                padding: 1rem 4rem;
                border-radius: 10px;
                border: 1px solid $cybergreen;
                transition: 0.2s ease-in-out;
            }
            a:hover{
                background-color: #1C1C1C;
            }
        }
        .links{
            display: flex;
            margin: 1rem 0 0 0;
            .link-item{
                list-style: none;
                a{
                    transition: 0.2s ease-in-out;
                    font-size: 60px;
                    padding: 1rem;
                    color: $cybergreen;
                    text-decoration: none;
                }
                a:hover{
                    text-shadow: 1px 1px 20px #02ffc4d0;
                }
            }
        }
    }
}