@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;535;600&family=Raleway:wght@300;400;500&display=swap");
@-webkit-keyframes translate_opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  50% {
    opacity: 80%;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes translate_opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  50% {
    opacity: 80%;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: 'Raleway', sans-serif;
  background: #252525;
}

body::-webkit-scrollbar {
  width: 0;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

.container .main-content {
  height: 100%;
  width: 80%;
  max-width: 1600px;
  margin: auto;
  overflow-y: scroll;
}

.container .main-content .main-info {
  height: 100%;
}

.container .main-content .main-info .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  margin: auto;
}

.container .main-content .main-info .logo a {
  -webkit-animation: 5s opacity-secondary;
          animation: 5s opacity-secondary;
  color: #48FFBD;
  font-size: 2.5em;
}

.container .main-content .main-info .align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85%;
  margin: auto;
}

.container .main-content .main-info .align-item-center .text {
  -webkit-animation: 1s translate_opacity;
          animation: 1s translate_opacity;
}

.container .main-content .main-info .align-item-center .text .first-text {
  font-size: 3em;
  color: #E0E0E0;
  font-weight: lighter;
  -webkit-animation: 1s translate_opacity;
          animation: 1s translate_opacity;
}

.container .main-content .main-info .align-item-center .text .second-text {
  font-size: 7em;
  font-weight: 500;
  color: #48FFBD;
}

.container .main-content .main-info .align-item-center .text .third-text {
  font-size: 1em;
  color: #E0E0E0;
  font-weight: lighter;
  padding: 0 0 1em 0;
}

.container .main-content .main-info .align-item-center .text .btnr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main-content .main-info .align-item-center .text .btnr .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #48FFBD;
  font-size: 1em;
  padding: 10px 60px;
  border: 1px solid #48FFBD;
  background: #1C1C1C;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.container .main-content .main-info .align-item-center .text .btnr .btn:hover {
  background-color: #252525;
}

.container .main-content .main-info .align-item-center .text .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-content .main-info .align-item-center .text .links .link-item {
  list-style: none;
}

.container .main-content .main-info .align-item-center .text .links .link-item a {
  -webkit-animation: 3s opacity-secondary;
          animation: 3s opacity-secondary;
  text-decoration: none;
  color: #48FFBD;
  font-size: 3em;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  padding: 0 0.1em;
}

.container .main-content .main-info .align-item-center .text .links .link-item a:hover {
  text-shadow: 0px 0px 5px #48FFBD;
}

.container .main-content::-webkit-scrollbar {
  width: 0;
}

.container .main-content::-webkit-scrollbar-thumb {
  opacity: 0;
}

.container .navigation-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (33.3%)[3];
      grid-template-rows: repeat(3, 33.3%);
}

.container .navigation-bar .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: 1s opacity;
          animation: 1s opacity;
}

.container .navigation-bar .block .btn1 {
  -webkit-animation: 1s translate_opacity;
          animation: 1s translate_opacity;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #E0E0E0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: #1C1C1C;
}

.container .navigation-bar .block .btn2 {
  -webkit-animation: 1.5s translate_opacity;
          animation: 1.5s translate_opacity;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #E0E0E0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: #363636;
}

.container .navigation-bar .block .btn3 {
  -webkit-animation: 2s translate_opacity;
          animation: 2s translate_opacity;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #E0E0E0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: #2E2E2E;
}

.container .navigation-bar .block a:hover {
  background: #48FFBD;
  color: #1C1C1C;
}

@media screen and (max-width: 882px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .container .main-content .main-info .logo {
    height: 10%;
  }
  .container .main-content .main-info .align-item-center {
    height: 70%;
  }
  .container .main-content .main-info .align-item-center .text .first-text {
    font-size: 1.5em;
  }
  .container .main-content .main-info .align-item-center .text .second-text {
    font-size: 4em;
  }
  .container .main-content .main-info .align-item-center .text .third-text {
    font-size: 0.8em;
  }
  .container .main-content .main-info .align-item-center .text .btnr .btn {
    font-size: 0.8em;
  }
  .container .main-content .main-info .align-item-center .text .links .link-item {
    list-style: none;
  }
  .container .main-content .main-info .align-item-center .text .links .link-item a {
    font-size: 1.5em;
  }
  .container .navigation-bar {
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 15%;
  }
  .container .navigation-bar .block {
    width: 100%;
  }
  .container .navigation-bar .block a {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=index.css.map */