nav {
  width: 20%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 65%;
      grid-template-rows: 25% 65%;
}

nav .logo-container a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #00FFC2;
  font-weight: bold;
}

nav .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menu-container .links {
  list-style: none;
  -webkit-box-shadow: 1px 1px 20px #0000007e;
          box-shadow: 1px 1px 20px #0000007e;
  border-radius: 20px;
}

nav .menu-container .links .link-item {
  width: 87px;
  height: 84px;
}

nav .menu-container .links .link-item a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  color: #00FFC2;
  text-decoration: none;
}

nav .menu-container .links .link-item a i {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

nav .menu-container .links .link-item a span {
  font-weight: bold;
  opacity: 0;
}

nav .menu-container .links .link-item a:hover {
  background-color: #00FFC2;
  color: #252525;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

nav .menu-container .links .link-item a:hover i {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .menu-container .links .link-item a:hover span {
  opacity: 1;
  -webkit-animation: 0.5s translate_opacity;
          animation: 0.5s translate_opacity;
}

nav .menu-container .links .link-item:nth-child(1) a:nth-child(1) {
  border-radius: 20px 20px 0 0;
}

nav .menu-container .links .link-item:nth-child(4) a:nth-child(1) {
  border-radius: 0 0 20px 20px;
}

@-webkit-keyframes translate_opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes translate_opacity {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=menu.css.map */