@import '../../assets/styles/Scss/modules/variables/variables';
nav{
    width: 20%;
    height: 100vh;
    display: grid;
    grid-template-rows: 25% 65%;
    .logo-container{
        a{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: $cybergreen;
            font-weight: bold;
        }
    }
    .menu-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .links{
            list-style: none;
            box-shadow: 1px 1px 20px #0000007e;
            border-radius: 20px;  
 
            .link-item{
                width: 87px;
                height: 84px;
                a{
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    gap: 0.6rem;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    color: $cybergreen;
                    text-decoration: none;
                    i{
                        transition: 0.2s ease-in-out;
                        transform: translateY(15px);
                    }
                    span{
                        font-weight: bold;
                        opacity: 0;
                    }
                }
                a:hover{
                    background-color: $cybergreen;
                    color: $mateblack;
                    justify-content: center;
                    transition: 0.2s ease-in-out;
                    i{
                        transform: translateY(0);
                    }
                    span{
                        opacity: 1;
                        animation: 0.5s translate_opacity ;
          
                    }
                }
            }  
            .link-item:nth-child(1){
                a:nth-child(1){
                    border-radius: 20px 20px 0 0;
                }
            }
            .link-item:nth-child(4){
                a:nth-child(1){
                    border-radius: 0 0 20px 20px;
                }
            }
        }
    }
}

@keyframes translate_opacity{
    0%{
        opacity: 0;
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}
