@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import '../modules/variables/variables';
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    box-sizing: content-box;
    background-color: $mateblack;

}
.layout{
    display: flex;
}


