@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #252525;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */